<a href="https://colab.research.google.com/github/yashwanthbooram/INT254/blob/main/unit_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data=({'A':[None,None,3,10], 'B': [7,9,None,None,], 'C':[15,None,12,20]})
df =pd.DataFrame(data)
df_filled=df.fillna(method='ffill')
print("Original dataframe\n",df)
print("Updated dataframe\n",df_filled)

In [ ]:
#Linear Interpolation of Missing Data in a DataFrame
import pandas as pd

data = {'A': [None, 10, 20, 30], 'a': [15, None, 16, None]}
df = pd.DataFrame(data)
df_filled = df.interpolate(method='linear')

print("Original dataframe\n", df)
print("Updated dataframe\n", df_filled)

In [ ]:
#Removing Rows with Missing Data from a DataFrame
import pandas as pd

data = {'A': [None, 10, 20, 30], 'a': [15, None, 16, None]}
df = pd.DataFrame(data)
df_filled = df.dropna(how='any')
print("Original dataframe\n", df)
print("Updated dataframe\n", df_filled)

In [ ]:
#Dropping rows if all values at rows are missing
import pandas as pd
data={'A':[None,None,None,None,None],'B':[None,None,None,None,None]}
df = pd.DataFrame(data)
df_dropped = df.dropna(how='all')
print("Original DataFrame:\n", df)
print("Updated DataFrame:\n", df_dropped)

In [ ]:
#Creating a DataFrame from a Dictionary with String Columns
import pandas as pd

data = {'Name': ['Sheldon', 'Penny', 'Amy', 'Penny', 'Raj', 'Sheldon'],
       'Episodes': [42, 24, 31, 29, 37, 40],
       'Gender': ['Male', 'Female', 'Female', 'Female', 'Male', 'Male']}

df = pd.DataFrame(data, columns=['Name', 'Episodes', 'Gender'])
df_gender=pd.get_dummies(df['Gender'])
df_new=pd.concat([df,df_gender],axis=1)

print(df)
print(df_new)

      Name  Episodes  Gender
0  Sheldon        42    Male
1    Penny        24  Female
2      Amy        31  Female
3    Penny        29  Female
4      Raj        37    Male
5  Sheldon        40    Male
      Name  Episodes  Gender  Female  Male
0  Sheldon        42    Male       0     1
1    Penny        24  Female       1     0
2      Amy        31  Female       1     0
3    Penny        29  Female       1     0
4      Raj        37    Male       0     1
5  Sheldon        40    Male       0     1